[2014-09-02 20:33] nessamurmur opened #1 "README"
Kinda see where this ties together and it looks like it's maybe complete enough to use or work from... any notes for someone who wants to use this?

[2014-09-03 02:32] #1 closed, assigned to nobody

[2014-09-05 18:55] niftyn8 opened #5 "Breaks Client Credentials Flow"
Some flows shouldn't have an id_token associated with them. See [client credentials flow](http://tools.ietf.org/html/rfc6749#section-1.3.4)

id_token is nil in this flow so when it's injected it fails. Will fix today.

[code]

[2015-05-07 18:06] gilbertquri opened #11 "no expiration option error"
The problem was fixed but the version was not upped. The latest version in rubygems.org is 1.0.0 which does not have the fix.

[2015-05-07 23:26] gilbertquri opened #12 "IdToken#as_jws_token sets an invalid kid"
According to the JWT spec:

The "kid" (key ID) header parameter is a hint indicating which specific key owned by the signer should be used to validate the signature. This allows signers to explicitly signal a change of key to recipients. Omitting this parameter is equivalent to setting it to an empty string. The interpretation of the contents of the "kid" parameter is unspecified. This header para

[2015-05-08 15:37] #11 closed

[2015-05-08 15:42] samdengler commented on #12
@gilbertquri thanks for the clarification.  It might be a couple of days before I can dig into this.  If you have an approach in mind, could you submit a PR?  Thanks!

[2015-05-08 16:07] gchang10 commented on #12
I think you can just leave out the kid parameter when encoding the id token. I will submit a PR shortly.

[2015-05-08 16:51] samdengler commented on #12
Thanks!

[2015-05-08 17:06] gilbertquri commented on #12
I don't seem to have permission to push up a branch for creating a PR. Can you please add me?

[2015-05-08 17:13] samdengler commented on #12
Hey @gilbertquri - we're using the Fork & Pull strategy (https://help.github.com/articles/using-pull-requests/#fork--pull)  Can you fork the repo and submit the PR from there?

[2015-05-08 21:01] samdengler commented on #12
Here's a link to the spec for future reference if needed: http://self-issued.info/docs/draft-jones-json-web-token-01.html#ReservedHeaderParameterName

[2015-05-08 21:02] #12 closed

[2015-05-21 17:12] gilbertquri opened #16 "Claims in IdToken"
Why does IdToken not incorporate user defined claims? Is it because you want to minimize the token size? Perhaps it should respect the scopes parameter and incorporate user defined claims if a certain scope (e.g. profile) is present in the scopes?

[2015-11-25 17:08] #5 closed

[2016-09-16 11:29] toupeira opened #17 "Current status and future plans"
I'm looking into implementing OpenID Connect in GitLab and stumbled over this gem, as well as the lower-level [openid_connect](https://github.com/nov/openid_connect) Rack middleware. As GitLab already uses Doorkeeper this approach seems a lot more straight-forward, so I'm planning to first improve this gem a bit and have a few questions:

- What's the current status and your future plans, which ar

[2016-09-16 18:31] stephendyer commented on #17
Hi Markus,
The project is currently in maintenance mode. We still use the gem, but haven’t touched the code in over a year, and the original developer has left the company. If you’re interested in using the code, I’d recommend forking the project.

Thanks,
Steve Dyer

From: Markus Koller <notifications@github.com>
Reply-To: playon/doorkeeper-openid_connect <reply@reply.github.com>
Date: Friday, Se

[2016-09-16 18:48] toupeira commented on #17
@stephendyer ok thanks, I'll make a fork then!

@samdengler let me know if you have any plans or old notes :)

[2016-09-16 18:48] #17 closed

[2016-09-20 09:45] toupeira commented on #17
@stephendyer I'm wondering if you would be ok with [transfering the project to the `doorkeeper-gem` organization](https://github.com/doorkeeper-gem/doorkeeper/issues/883), so we can keep issues etc.? To do this you would need to give @tute administrator access to the repository.

[2016-09-21 14:19] stephendyer commented on #17
Hi Markus,
This shouldn’t be a problem. We just want to make sure any ts are crossed and is dotted. I’ll get back to you in a couple of days.

Thanks,
Steve

From: Markus Koller <notifications@github.com>
Reply-To: playon/doorkeeper-openid_connect <reply@reply.github.com>
Date: Tuesday, September 20, 2016 at 5:45 AM
To: playon/doorkeeper-openid_connect <doorkeeper-openid_connect@noreply.github.com

[2016-09-21 15:12] toupeira commented on #17
@stephendyer sure no problem! I'll take care to keep all the attribution, and feel free to add a comment like "originally sponsored by PlayON!" to the README :-)

[2016-09-29 19:07] stephendyer commented on #17
Hi Marcus,
Sorry for the delay, be we are ready to transfer the ownership. All we need is for you to agree to and send us an e-mail with something along the following lines:

I acknowledge and agree as follows:
·         2080 Media, Inc. d/b/a PlayOn Sports is the original author of and holds the copyright in the Doorkeeper::OpenidConnect plugin.
·         PlayOn has released the plugin under the

[2016-10-03 12:25] toupeira commented on #17
@stephendyer thanks these terms are fine with me, do you want me to send the mail to a specific address or is a comment here sufficient?

Also the current `LICENSE.txt` attributes the copyright to @samdengler directly, IANAL but you might want to clarify that with him as well ;-)

[2016-10-03 12:48] stephendyer commented on #17
Please send the e-mail to Stephen.dyer@playonsports.com<mailto:Stephen.dyer@playonsports.com>

We’ll fix the License.txt file before transferring. Sam will be OK ;-)

Thanks,
Steve

From: Markus Koller <notifications@github.com>
Reply-To: playon/doorkeeper-openid_connect <reply@reply.github.com>
Date: Monday, October 3, 2016 at 8:25 AM
To: playon/doorkeeper-openid_connect <doorkeeper-openid_connec

[2016-10-04 12:23] toupeira commented on #17
Ok great, I sent you the mail. To start the transfer, please add @tute (doorkeeper maintainer) as administrator to the repository, so he can move it to the doorkeeper-org organization.

[2016-10-04 14:34] stephendyer commented on #17
We are all set to transfer. I just want to verify that @tute is Tute Costa?

From: Markus Koller <notifications@github.com>
Reply-To: playon/doorkeeper-openid_connect <reply@reply.github.com>
Date: Tuesday, October 4, 2016 at 8:23 AM
To: playon/doorkeeper-openid_connect <doorkeeper-openid_connect@noreply.github.com>
Cc: Stephen Dyer <stephen.dyer@playonsports.com>, Mention <mention@noreply.github.

[2016-10-04 18:13] toupeira commented on #17
Yep, that's Tute Costa as on https://github.com/tute

[2016-10-04 18:45] tute commented on #17
Thanks! I click on the invitation email, but GitHub says "that invitation doesn't exist". Would you send it again, please?

[2016-10-04 19:16] stephendyer commented on #17
I’ve just added you. Please let me know if you don’t get the invite.

From: Tute Costa <notifications@github.com>
Reply-To: playon/doorkeeper-openid_connect <reply@reply.github.com>
Date: Tuesday, October 4, 2016 at 2:45 PM
To: playon/doorkeeper-openid_connect <doorkeeper-openid_connect@noreply.github.com>
Cc: Stephen Dyer <stephen.dyer@playonsports.com>, Mention <mention@noreply.github.com>
Subje

[2016-10-04 19:55] tute commented on #17
Got it, thanks! Will add @toupeira tonight or this week.

[2016-11-08 15:57] toupeira commented on #16
The spec has this to say:

http://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims

This is currently not implemented, i.e. additional claims are always returned from the UserInfo endpoint. We also don't support `response_type=id_token` yet, or the `claims` parameter which would allow the client to specify where each claim should be returned (see http://openid.net/specs/openid-connect-cor

[2016-11-10 15:21] cickes opened #21 "TODO: Move jws_private_key and jws_public_key to a lamba expression"
Is this as easy as moving the private keys to an environment variable with lines delimited by \n?  If so, I can attack.  Otherwise if you'd like to point me in the direction regarding how you'd accomplish via a lambda, I'd also be happy to investigate.

[2016-11-14 20:22] cickes commented on #21
Updated with new commit.
https://github.com/doorkeeper-gem/doorkeeper-openid_connect/commit/9053c3fdffa17fb5f429cb5d07abcd0d0a4e774f

[2016-11-14 20:22] #21 closed

[2016-11-28 21:38] chrisblatchley opened #23 "Release version 1.0.3"
Hello @toupeira, great work getting this gem cleaned up after the change in ownership. I was wondering what issues are in the way of releasing version 1.0.3? I've integrated it locally, and it seems to work as expected, but don't think I wanna ship it with a github link in the gem file :)

Sorry if this is a weird place for this question, I'm not sure how else to ask this.

[2016-11-28 22:16] toupeira commented on #23
@chrisblatchley thanks, good to hear I didn't break anything yet!

I was actually planning to release 1.1.0 soon and was still waiting on feedback on some Doorkeeper issues, but they're pretty minor so I think I'll just go ahead with the release and add some caveats to the README. Should be up soon!

[2016-11-28 22:27] toupeira commented on #21
@cickes sorry I just saw your issue now, I removed that TODO from the README because it's straightforward to use environment variables:

[code]

or files:

[code]

If you use the `dotenv-rails` gem [newlines should be handled correctly](https://github.com/bkeepers/dotenv#usage).

I'm releasing a new version soon and will add these examples to the README!

[2016-11-29 14:47] chrisblatchley commented on #23
Thank you! That will be super helpful.

[2016-11-30 15:45] toupeira commented on #23
@chrisblatchley ok the release is ready but I still need permissions to push the gem. The current owner is listed as `ops@playonsports.com`, can you find somebody with access to that account and tell them to run `gem owner doorkeeper-openid_connect --add markus-koller@gmx.ch`? Your account will still be an owner as well, see `gem owner doorkeeper-openid_connect`. Thanks!

[2016-11-30 16:02] chrisblatchley commented on #23
oh sorry, I'm not affiliated with playonsports.com. I'm surprised they didn't do that when transferring ownership.

[2016-11-30 16:14] playon-readonly commented on #23
We will work on the transfer today.

From: Chris Blatchley <notifications@github.com>
Reply-To: doorkeeper-gem/doorkeeper-openid_connect <reply@reply.github.com>
Date: Wednesday, November 30, 2016 at 11:02 AM
To: doorkeeper-gem/doorkeeper-openid_connect <doorkeeper-openid_connect@noreply.github.com>
Subject: Re: [doorkeeper-gem/doorkeeper-openid_connect] Release version 1.0.3 (#23)

oh sorry, I'm

[2016-11-30 17:06] toupeira commented on #23
@chrisblatchley whoops I'm sorry, I just somehow assumed you were because you mentioned the transfer in ownership :)

@playon-readonly thanks, much appreciated!

[2016-11-30 20:39] malacalypse opened #24 "Integrating with Devise/Warden flows"
Hello, this isn't an issue per se, it's more of an integration question.

We're interested in using this along with our web sessions to authenticate a user against our Devise framework (which, of course, uses Warden in the background). Our team has some experience with oAuth and other authentication protocols, but none in particular with OpenID Connect and rails app integration.

The main question

[2016-12-01 19:20] playon-readonly commented on #23
markus-koller@gmx.ch<mailto:markus-koller@gmx.ch> has now been added as an owner of the gem.

From: Markus Koller <notifications@github.com>
Reply-To: doorkeeper-gem/doorkeeper-openid_connect <reply@reply.github.com>
Date: Wednesday, November 30, 2016 at 12:06 PM
To: doorkeeper-gem/doorkeeper-openid_connect <doorkeeper-openid_connect@noreply.github.com>
Cc: Tech Ops <ops@playonsports.com>, Mention

[2016-12-01 19:57] toupeira commented on #23
@playon-readonly thanks!

@chrisblatchley 1.1.0 is released! 🍾

I added [upgrade instructions](https://github.com/doorkeeper-gem/doorkeeper-openid_connect/blob/master/CHANGELOG.md#upgrading) to the CHANGELOG, let me know if you run into any problems!

[2016-12-01 19:57] #23 closed

[2016-12-01 21:02] toupeira commented on #24
I'm not familiar with this gem but it looks to be [just a bit of glue around Doorkeeper](https://github.com/kolorahl/warden-doorkeeper/blob/master/lib/warden/strategies/doorkeeper.rb).

Setting this up basically involves these steps:

1. Setup `devise` or another form of authentication
1. Setup `doorkeeper`, optionally in combination with `warden-doorkeeper`
1. Setup `doorkeeper-openid_connect`
1.

[2016-12-05 19:05] malacalypse commented on #24
Great, thanks. I'll take a look and come back with clarifications/questions. Great to see some support for this gem, much appreciated!

[2016-12-07 20:43] malacalypse commented on #24
Ok, great, I think we have this mostly figured out.

Only question remaining is: when auto-discovering my openid connect endpoint, the /oauth/ prefix is not being attempted by the client. I was under the impression that auto-discovery should include this; do I need to tell the client explicitly to use this or is there some configuration I need to set up?

[2016-12-08 16:58] toupeira commented on #24
@malacalypse gotcha :)

Just for reference, the routes added by this gem are described in the [README](https://github.com/doorkeeper-gem/doorkeeper-openid_connect#routes), and I just added a link to the [Doorkeepr wiki](https://github.com/doorkeeper-gem/doorkeeper/wiki/Customizing-routes#version--05-1) for details on how to customize them.

[2016-12-08 16:58] #24 closed

[2016-12-15 19:55] gigr opened #25 "Support configurable signing algorithms"
Hiya! I was going to fork and put up a pull request, but I figured instead I'd make an issue and get feedback on the approach I was planning.

In a nutshell, it would be nice to support algorithms other than the stock `RS256`. In particular, I would like to support signing with the algorithms that the [omniauth-openid-connect](https://github.com/jjbohn/omniauth-openid-connect) gem supports, outlin

[2016-12-16 15:40] toupeira commented on #25
Hi there @gigr! Yes this change would be very welcome and your plan sounds about right, though I haven't yet looked into the exact requirements for the other algorithms. But we use [json-jwt](https://github.com/nov/json-jwt/) which supports most of them, so it really should just be a matter of figuring out how to configure the necessary keys/secrets.

We also need to make sure `DiscoveryController

[2016-12-16 16:02] gigr commented on #25
Awesome! The idea of adding a `signing_key` makes sense as well. I'll explore that as an option in the PR. I'll be cognizant of the fact that adding a new configuration option for configuring the same thing _could_ break backwards compatibility as well.

I _could_ see this being a few PRs as opposed to one larger one. Do you want me to break it up or would you rather a single, feature-complete PR?

[2016-12-16 16:32] toupeira commented on #25
I think we should be fine if we keep `jws_private_key`, log a deprecation warning there, and delegate to the new `signing_key`. I deprecated `jws_public_key` now in 8494eed.

Feel free to submit smaller PRs if you want, but a single one is perfectly fine as well. I don't plan on making a lot of changes in the near future, so you should be safe from merge conflicts ;-)

[2016-12-16 17:42] gigr commented on #25
Okay! I'll ping you when I have something to show. Thanks so much!

[2017-05-30 19:48] travisofthenorth commented on #25
@gigr is this still on your radar? I would also love to get support for additional algorithms.

[2017-05-31 14:09] gigr commented on #25
Not as much. We've found that using the public/private keypair is actually a better solution for our needs.

[2017-05-31 14:55] travisofthenorth commented on #25
@toupeira is this PR sufficient? https://github.com/doorkeeper-gem/doorkeeper-openid_connect/pull/34

[2017-07-12 14:16] #25 closed

[2017-07-12 20:39] travisofthenorth commented on #25
@toupeira any idea when you might publish a new version of the gem?

[2017-07-13 05:08] aisensiy opened #37 "DONT mention omniauth-openid-connect"
This repository seems abandoned for a long time, hope to give some new solution.

[2017-07-13 08:58] toupeira commented on #37
Looks like there's some maintenance going on at https://github.com/m0n9oose/omniauth_openid_connect, maybe you want to help them? Also see https://github.com/jjbohn/omniauth-openid-connect/issues/67

I've changed the link in the README.

[2017-07-13 08:58] #37 closed

[2017-07-13 09:17] toupeira commented on #25
@travisofthenorth very soon, waiting for #36 to get in as well.

[2017-07-13 17:29] aisensiy opened #38 "HELP WANTED Failed to get the id_token"
Here is the response from `POST /oauth/token` and there is no `id_token` return.

[code]

BTW I can not get `/oauth/userinfo` with HEADER `Authoraztion: Bearer MY_ACCESS_TOKEN` why is that?

My repo is [https://github.com/aisensiy/uaa](https://github.com/aisensiy/uaa).

[2017-07-13 17:51] toupeira commented on #38
It looks like you're missing the `openid` scope, there is no `id_token`
scope defined in the standard.

On 13 Jul 2017 19:29, "aisensiy" <notifications@github.com> wrote:

[2017-07-14 05:45] aisensiy commented on #38
Thanks for you quick reply. I really appreciate that.

And...another quick question...

![image](https://user-images.githubusercontent.com/661860/28199748-9d34ccb6-689a-11e7-8415-18c1e46c239f.png)
I am trying to create a sso solution with this can I skip the default authenticate page by configuration?

[2017-07-15 07:34] aisensiy commented on #38
Thanks for you reply. I really appreciate it.

[2017-07-15 07:34] #38 closed

[2017-07-25 06:38] aisensiy opened #39 "Support for client credentials flow"
Is there some plan to support the openid connect flow like client credentials?

[2017-07-25 07:24] toupeira commented on #39
No plans, [Doorkeeper supports it](https://github.com/doorkeeper-gem/doorkeeper/wiki/Client-Credentials-flow) but it says "The main difference from the others is that this flow is not associated with a resource owner." so I'm not sure if it even makes sense to use this flow with OIC.

[2017-07-25 07:53] aisensiy commented on #39
I think it make sense with microservice architectures.

I'm trying to use doorkeeper-openid_connect to create a central "account management and authentication service" like [keycloak](http://www.keycloak.org/), or you can think it as an open source version [auth0](https://auth0.com).

And it need to integrate other microservices. The client credential way is the main method to make the other micro

[2017-07-25 10:09] toupeira commented on #39
A PR would be welcome if you can get this working 👍

If you look at `lib/doorkeeper/openid_connect/oauth/authorization_code_request.rb` you can see how we extend Doorkeeper to add the ID token to the response, basically you need to do something similar for `lib/doorkeeper/oauth/client_credentials_request.rb` but since there doesn't seem to be a resource owner in that context I'm not sure how to pr

[2017-07-26 09:41] aisensiy commented on #39
Right now the password grant flow is better than client credential grant flow for me. So I will try to implement this later...

[2017-07-26 09:41] #39 closed

[2017-08-11 20:34] jsmestad opened #42 "Plans to support OIDC Implicit Grant Type"
I'm happy to try and contribute the code if there is any guidance on how best to extend this extension to support the implicit grant type?

[2017-08-12 12:01] aisensiy commented on #16
@gilbertquri

[https://github.com/aisensiy/doorkeeper-openid_connect](https://github.com/aisensiy/doorkeeper-openid_connect) I have a fork and implement a way to extend the claims in id token.

[2017-08-15 11:26] toupeira commented on #42
I haven't looked into it yet, but according to [this section in the spec](http://openid.net/specs/openid-connect-core-1_0.html#ImplicitAuthRequest) I think it would involve supporting `response_type=id_token` (Doorkeeper itself already supports implicit grants).

[2017-08-15 11:37] toupeira commented on #16
See related discussion in https://github.com/doorkeeper-gem/doorkeeper-openid_connect/pull/40

[2017-09-17 17:32] ahcarpenter opened #43 "Any example Rails apps using this as a provider?"
Or thoughts?

[2017-09-18 10:51] toupeira commented on #43
@ahcarpenter I added a [section in the README](https://github.com/doorkeeper-gem/doorkeeper-openid_connect#example-applications), if anybody knows of any others let me know!

[2017-09-18 14:31] ahcarpenter commented on #43
@toupeira awesome--thanks a ton!

[2017-11-06 08:37] stevenvegt commented on #42
I needed this as well and hacked it into my own branch: https://github.com/stevenvegt/doorkeeper-openid_connect/tree/implicit-flow

It works, but is probably not the _perfect_ approach. We also need a change in doorkeeper itself since the `response_type` param currently does not allow spaces and the implicit flow needs the `id_token token` type.

I would like to get this into master but need some

[2017-11-06 10:35] toupeira commented on #42
@stevenvegt cool, thanks for looking into this! It might be a while before I find the time to wrap my head around it though :) Ping me again if you don't hear back over the next few weeks.

Also, I'm curious what your use cases are for the implicit flow, is it JavaScript SPAs or something else?

[2017-11-07 10:03] stevenvegt commented on #42
Sounds good!
Yes, I use a Angular4 SPA with https://github.com/IdentityModel/oidc-client-js

[2018-02-23 17:20] toupeira commented on #42
This is being implemented in https://github.com/doorkeeper-gem/doorkeeper-openid_connect/pull/45

[2018-03-11 12:12] nashby commented on #42
closing this since it was implemented in #45 (not all the response types are supported but we can add them later)

[2018-03-11 12:12] #42 closed

[2018-04-04 17:15] toupeira commented on #16
Also note that support for `response_type=id_token` was added recently in https://github.com/doorkeeper-gem/doorkeeper-openid_connect/pull/45

[2018-05-29 10:48] nashby opened #50 "Ruby < 2.3 support."
Current version of `json-jwt` gem supports Ruby >= 2.3 https://github.com/nov/json-jwt/blob/master/json-jwt.gemspec#L14. That's the reason why Travis is failing with older rubies. There's two options: 1. lock `json-jwt` version that supports older rubies 2. drop support for Ruby < 2.3.

@toupeira what do you think?

[2018-05-31 19:45] toupeira commented on #50
@nashby thanks! I'm definitely for staying with latest versions, especiallly with security-sensitive libs. Also [looks like Ruby 2.2 is EOL soon anyway](https://www.ruby-lang.org/en/downloads/branches/).

I've dropped support for Ruby < 2.3 now in https://github.com/doorkeeper-gem/doorkeeper-openid_connect/commit/3202fdf6c312e02ad8baafc2d14a31bb4b537e9f

[2018-05-31 19:45] #50 closed

[2018-07-13 23:45] hszeto opened #53 "grant type password"
How can I implement openid with password grant type?

[2018-07-15 14:09] toupeira commented on #53
Do you mean the [resource owner password credentials flow](https://github.com/doorkeeper-gem/doorkeeper/wiki/Using-Resource-Owner-Password-Credentials-flow)? Doorkeeper supports that, but we're probably missing some plumbing in this gem. Let me know if it works, otherwise PRs are welcome :)

[2018-07-15 17:06] hszeto commented on #53
I got it. Need to pass in the client id.

POST to`/oauth/token` with body:
[code]

[2018-07-25 13:51] #53 closed

[2018-08-01 18:55] molenick opened #54 "Compatibility with Doorkeeper 5.0.0rc1?"
Hi, thanks for the great work on this gem.  I'm trying to gauge how compatible a recent version of this gem might be with Doorkeeper 5.0.0rc1.  I know there's probably not good support for it since it's an RC, but I wanted to ask what options I might have.  I'm pinned to rc1 because I need PKCE for my project.

Thanks!

[2018-08-01 19:43] nashby commented on #54
@molenick Hey! I haven't tested it either. Would you mind to try it out and report back if you have any compatibility issues? Thanks!

[2018-09-04 15:14] #54 closed

[2018-09-04 15:17] toupeira commented on #54
@nashby thanks for the PR! :+1:

@molenick please give it a try with version 1.5.1

[2018-09-04 16:05] toupeira commented on #54
@molenick actually try 1.5.2, 1.5.1 had some breakage ;-)

[2018-09-05 15:15] nhosoya opened #57 "NoMethodError at /oauth/authorize/native with doorkeeper 5.0"
I noticed that native_oauth_authorization_path( `/oauth/authorize/native` ) returns the error :

at [here](https://github.com/doorkeeper-gem/doorkeeper/blob/4c94445c4508cb372bc2004e74353b525359af46/lib/doorkeeper/oauth/pre_authorization.rb#L58).
This occurs only with `doorkeeper 5.0`.

--
Probably caused by this changes.
https://github.com/doorkeeper-gem/doorkeeper/pull/1088/commits/698fba0d21b457

[2018-09-14 22:30] molenick commented on #54
@toupeira Thanks!

[2018-09-16 15:46] toupeira commented on #57
Thanks for the report!

What version of `doorkeeper-openid_connect` are you on? Does this still happen with 1.5.2?

Also, can you describe how to reproduce the error?

[2018-09-18 05:04] nhosoya commented on #57
This error is reproduced with
[code]

I created minimum repository to reproduce this.
https://github.com/nhosoya/doorkeeper-openid_connect-sample

Steps to reproduce:
1. Create new oauth application that redirect_uri is `urn:ietf:wg:oauth:2.0:oob`.
2. Access to Authorization Endpoint for this application and authorize.
(Or access directly `/oauth/authorize/native?code=aaa`)

Only doorkeeper(withou

[2018-10-17 22:40] arianvp commented on #57
I'm running into exactly the same issue.

[2019-01-16 04:39] atomiyama commented on #57
https://github.com/doorkeeper-gem/doorkeeper-openid_connect/blob/6829c5881067cb6289263705576c31cd1b6c21c7/lib/doorkeeper/openid_connect/helpers/controller.rb#L10

i think this line should  be changed like below
[code]

[2019-01-19 16:55] toupeira commented on #57
Apologies for the long delay, and happy new year everyone! :grin:

I'm not really sure how the native authorization works, but https://github.com/doorkeeper-gem/doorkeeper-openid_connect/pull/60 should fix the exception.

Please try again with the new version 1.5.3.

[2019-01-21 06:31] nhosoya commented on #57
It works fine. Thank you, and happy new year! 😃

[2019-01-21 06:31] #57 closed

[2019-02-07 01:06] meagar opened #61 "Open redirect vulnerability when `prompt=none`"
tl;dr  Doorkeeper OIDC can be provoked to blindly redirect the browser to whatever site is sent in `redirect_uri` paramter when `prompt=none`.

---

Given an otherwise valid authorization attempt with `prompt=none`, if an error can be provoked, the user is redirected to whatever redirect URI is passed in through the `redirect_uri` parameter with an error message in the query string.

For example,

[2019-02-07 02:09] meagar opened #63 "When `prompt=none` is set, reauthorizing with a smaller set of scopes causes an error"
If I have previously authorized with a Doorkeeper-OIDC-based IDP using `scope=openid+email+name`, an authorization request with a *more narrow* set of claims, such as `scope=openid+email` will fail. The error will indicate that user consent is required, however I think this is incorrect. The user has already granted consent for the `email` and `name` claims; my reauthorization request is only requ

[2019-02-08 06:06] nov opened #64 "`prompt=consent` revokes existing access tokens"
It should require explicit consent to issue new code, but shouldn't revoke any other access and/or refresh tokens which are issued at different timing.
https://github.com/doorkeeper-gem/doorkeeper-openid_connect/blob/master/lib/doorkeeper/openid_connect/helpers/controller.rb#L44

[2019-02-08 16:45] toupeira commented on #63
@meagar thanks for the report! I think you're right:

That is what I would expect as well, I can't find anything concrete in the specs except for [this section](https://tools.ietf.org/html/rfc6749#section-1.5):

I've started to look into this in https://github.com/doorkeeper-gem/doorkeeper-openid_connect/pull/65, but the problem is that Doorkeeper also performs an exact match in https://github.com

[2019-02-08 17:37] toupeira commented on #61
@meagar thanks again :)

I've prepared a PR in https://github.com/doorkeeper-gem/doorkeeper-openid_connect/pull/66 to catch this, I would appreciate it if you could take a look!

Also, not sure if this is serious enough to warrant a CVE? Let me know if you have experience with that, otherwise I'll look into it.

I'm not sure if the 422 error should have precedence, since we're already returning th

[2019-02-08 17:50] toupeira commented on #64
@nov thanks for the report! You're right, this was just the easiest solution I could think of at the time to trigger a reauthorization (and thus explicit consent) in Doorkeeper, but it's definitely not very elegant ;-)

For now I've added a [section about this](https://github.com/doorkeeper-gem/doorkeeper-openid_connect#known-issues) to the README.

I'm not sure how to best approach this since the

[2019-02-12 01:28] nov commented on #64
If you want to support `prompt=consent` in the gem, you’ll need to update doorkeeper gem itself (e.g., defining `reauthorization_required?`) so that you can call the method here to `render :new`
https://github.com/doorkeeper-gem/doorkeeper/blob/master/app/controllers/doorkeeper/authorizations_controller.rb#L27

[2019-02-15 09:24] #61 closed

[2019-02-15 09:43] toupeira commented on #64
@nov thanks! Actually I can just call `render :new` directly in this context, this seems to work as expected. See https://github.com/doorkeeper-gem/doorkeeper-openid_connect/pull/67

[2019-02-15 10:01] nov commented on #64
Yeah, it also might be good enough.
I feel it’s a bit trickey though.

[2019-02-15 10:55] #64 closed

[2019-02-15 11:05] toupeira commented on #64
@nov yeah I'm also unhappy with the whole approach of hooking into `authenticate_resource_owner!`, there's probably a way to do this more cleanly by using the validations in `Doorkeeper::OAuth::PreAuthorization`.

Anyway, I merged #67 now and released version 1.5.4 of the gem, let me know if you run into any problems!

[2019-02-15 11:05] toupeira commented on #61
Released with version 1.5.4

[2019-02-21 13:33] marco-nicola opened #68 "The Elliptic Curve's `crv` parameter is missing from the discovery/keys JSON response"
For my OP (_OpenID Provider_) Rails application, I generated just one key-pair with the following commands:

[code]

Then I added the Doorkeeper-OpenID-connect routes (`use_doorkeeper_openid_connect`), which of course includes the OpenID Connect Discovery paths.

Then, after setting everything up properly in order to use the key-pair above, I perform a GET request to the correct Discovery `jwks_ur

[2019-03-03 10:01] #68 closed

[2019-03-03 10:04] toupeira commented on #68
Thanks again, released in version 1.5.5!

[2019-03-11 20:07] jeffsawatzky opened #71 "Grant Type Password Requires a client_id"
As per https://github.com/doorkeeper-gem/doorkeeper/pull/296, client_id is optional for the password grant type, however doorkeeper-openid_connect seems to assume that it will always be there.

[2019-03-15 15:42] meagar commented on #61
Sorry, I've been away from the Internet for personal reasons.

I don't know if this warrants a CVE, but it'd be fun for me to create one. Would you be OK with that? I think it's wise to publicly disclose this problem, since it's a very real attack vector.

[2019-03-15 16:01] toupeira commented on #61
@meagar thanks, but I was curious as well and requested one through iwantacve.org :) I got an automated reply a few weeks ago and just inquired again about the current state.

I also see now they have an official form online at https://cveform.mitre.org/, it used to redirect to a Google form so maybe that's why my request got lost.

[2019-03-15 16:14] toupeira commented on #71
@niltz thanks, can you give some more details on the errors you're seeing? I'm not sure if this is related to [this change](https://github.com/doorkeeper-gem/doorkeeper-openid_connect/commit/3893ea1318e302a078272ff408aff1c50bef85d1#diff-075af0c695b538d6def8b65a98eb3cc8L10), as it seems that's the only file where we deal with `client`.

[2019-03-16 16:52] natashad commented on #71
@toupeira The issue seems to be in the code to get the `audience` for the id token. https://github.com/doorkeeper-gem/doorkeeper-openid_connect/blob/master/lib/doorkeeper/openid_connect/id_token.rb#L49. If there's no client_id passed in, there's no application so `@access_token.application.uid` this fails with a `NoMethodError (undefined method 'uid' for nil:NilClass)`

[code]

[2019-03-18 09:35] toupeira commented on #61
@meagar ok had to submit a new request and got a CVE assigned now, see https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-9837

I credited you as the discoverer but looks like it's not displayed anywhere, sorry ;-)

[2019-04-22 17:23] alduro commented on #71
I'm running exactly into this issue. Is this still being maintained ?

[2019-04-26 13:54] camilo0365 opened #73 "RP-Initiated Logout"
Are there any plans to support RP initiated logout as per the Spec?

https://openid.net/specs/openid-connect-session-1_0.html#RPLogout

Thanks!

[2019-05-09 14:08] phlegx opened #74 "Using and add dependency jwt instead of json-jwt"
Hi!

Is there any reason why this gem uses `json-jwt` gem dependency instead of `jwt` gem?
The `jwt` gem is more complete and has a big community ([jwt.io](https://jwt.io/)). For example gem `doorkeeper-jwt` uses gem `jwt`.

[2019-05-31 13:17] nhosoya opened #76 "`nonce` claim does not include in ID Token if doorkeeper's default view"
The view generated by the command `rails generate doorkeeper:views` of the doorkeeper gem does not contain a `nonce`. So even if I add a nonce parameter to Authentication Request, nonce does not include in the issued ID token.

Of course I understand that I can solve the problem by adding hidden_field_tag nonce to view, but I think it is difficult to notice this problem.

refs:
https://github.com/

[2019-06-07 12:42] toupeira commented on #73
@camilo0365 no plans from my side, but PRs are always welcome! :)

[2019-06-07 12:46] toupeira commented on #76
@nhosoya well this is described in [the README](https://github.com/doorkeeper-gem/doorkeeper-openid_connect#nonces) ;-)

I originally wanted to add this [upstream in the Doorkeeper gem](https://github.com/doorkeeper-gem/doorkeeper/pull/897), but it was rejected because it's specific to OIDC.

It would be great if this was more dynamic along the lines of https://github.com/doorkeeper-gem/doorkeeper

[2019-06-07 13:06] toupeira commented on #74
@phlegx not sure, when I originally added `json-jwt` in 2016 I think there was some functionality I was missing in the `jwt` gem.

In case you're already familiar with `jwt`, do you want to submit a PR? We only have four locations where `json-jwt` is used (grep for `JSON::`) so it should be fairly straightforward. If not I'll give it a try, but might take a while until I get around to it ;-)

[2019-06-07 14:07] toupeira commented on #71
@natashad thanks for looking into this! Still not sure how we should fix this though, [according to the spec](https://openid.net/specs/openid-connect-core-1_0.html#IDToken) the `client_id` MUST be returned:

But looking at [this article](http://xacmlinfo.org/2015/03/09/openid-connect-support-with-resource-owner-password-grant-type/) it seems it's also acceptable to return the username sent by the

[2019-06-08 03:49] nhosoya commented on #76
@toupeira
Thanks! I missed it... 😥

I agree with you, but I can not propose a good implementation right now.
Should I close this issue?

[2019-07-16 19:05] isabellechalhoub opened #78 "Not passing required parameters results in a 500"
The `Doorkeeper::AuthorizationsController` checks to see whether or not required parameters are present by running `pre_auth.authorizable?` [in the `new` action](https://github.com/doorkeeper-gem/doorkeeper/blob/03b1437c6bda10ec74c256b4f8c5c3d98b4e5227/app/controllers/doorkeeper/authorizations_controller.rb#L7).

This gem modifies the behavior of the `:authenticate_resource_owner!` before filter t

[2019-08-09 08:57] #78 closed

[2019-08-09 08:59] toupeira commented on #78
Thanks again, you can give this a try with the new version 1.6.2.

[2019-09-11 04:58] truongnmt opened #82 "Unable to delete authorized RP application"
### Steps to reproduce
- Create an application
- User authorizes application
- Go to doorkeeper admin page and delete application

### Expected behavior
Able to delete application

### Actual behavior
Unable to delete application:

### Reason
There are two problems.
First the problems above about Mysql, on `doorkeeper-openid-connect` table migration, I found that foreign key is added:
https://gith

[2019-09-25 16:59] toupeira opened #88 "Support Doorkeeper 5.2"
Doorkeeper 5.2 introduced some breaking changes, see https://github.com/doorkeeper-gem/doorkeeper-openid_connect/pull/83

This is now being worked on in https://github.com/doorkeeper-gem/doorkeeper-openid_connect/pull/85

[2019-10-02 02:04] truongnmt commented on #82
Sorry for late reply! Seem like @syakovyn already opened one.
Btw I'm happy to work on such PR.

[2019-10-09 20:17] byu commented on #88
Just wondering if there is an ETA on 5.2 support? Thanks!

[2019-10-10 10:14] toupeira commented on #88
@byu sorry I can't give you an ETA, will take me a while until I find some time to look into this.

Any help is welcome though! IIRC the existing PR https://github.com/doorkeeper-gem/doorkeeper-openid_connect/pull/85 is mostly there for Doorkeeper 5.2 support, and Rails 6 support could also be added in another PR.

[2019-10-10 10:19] toupeira opened #89 "[meta] Looking for maintainers!"
I'm increasingly neglecting this gem because I'm not really using it in any of my current projects, and working with OAuth / OIDC is just generally causing me a lot of headaches :stuck_out_tongue:

If anybody wants to become a maintainer, please let me know!

/cc @nashby @nbulaj

[2019-10-13 13:14] toupeira opened #91 "Support Rails 6"
Rails 6 compatibility requires some small changes, mostly in our testing setup and the dummy Rails app in `spec/dummy`.

Depends on https://github.com/doorkeeper-gem/doorkeeper-openid_connect/pull/85

[2019-10-23 13:50] yourtallness opened #92 "Is the form_post response_mode supported?"
It is my understanding that if the response type is `form_post` the OP will POST the response instead of encoding the id_token (etc) in the query string or fragment.

I can't find evidence of it being supported by looking at the source code.

Please advise, TIA.

[2019-10-25 12:38] yourtallness opened #93 "Confusion about signing_key"
Hello,

I am a bit confused about the signing key.

I understand that only the private key needs to be provided in the config because the public key can be generated from the private one.

However shouldn't the public key be provided to the client application so that it can verify the JWS signature?

~Additionally, if we are not using the implicit flow that returns the `id_token` (e.g. we use the

[2019-10-31 15:34] yourtallness opened #94 "Permission denied in rvm when running a single test in Rubymine"
Rubymine tries to execute the following command:

`/bin/zsh -c "bash -c '/Users/mark/.rvm/bin/rvm ruby-2.4.2 do /Users/mark/Dev/b2bwave/bin/bundle exec /Users/mark/.rvm/rubies/ruby-2.4.2/bin/ruby -Itest /Users/mark/Dev/b2bwave/test/controllers/api_customer/orders_controller_test.rb'"`

This results in:

[code]

I have never encountered permissions issues with rvm on multiple installations.

Please

[2019-11-04 14:20] #88 closed

[2019-11-04 14:33] toupeira commented on #92
@yourtallness `response_type=form_post` doesn't seem to be supported by the Doorkeeper gem, and unless I'm missing something this would need to be implemented there first. Afterwards we probably need some support in this gem as well, to add the ID token to that response.

Can you open an issue at https://github.com/doorkeeper-gem/doorkeeper?

[2019-11-04 14:39] toupeira commented on #93
@yourtallness the public key is provided to clients through the [OIDC discovery mechanism](https://openid.net/specs/openid-connect-discovery-1_0.html), specifically through the standardized `/.well-known/openid-configuration` endpoint which points to our custom `/oauth/discovery/keys` endpoint (see https://github.com/doorkeeper-gem/doorkeeper-openid_connect#routes).

Not sure I follow, AFAIK an ID

[2019-11-04 14:40] toupeira commented on #94
@yourtallness sorry this looks like a general problem with your RVM/Bundler setup and unrelated to this gem. Maybe try reinstalling the `bundler` gem?

[2019-11-04 14:40] #94 closed

[2019-11-04 14:44] toupeira commented on #82
As discussed in https://github.com/doorkeeper-gem/doorkeeper/issues/1311, it's tricky to switch to `dependent: destroy_all` in `Doorkeeper::Application` due to performance concerns.

But I'm happy to accept a PR which implements a monkey-patch along the lines of https://github.com/doorkeeper-gem/doorkeeper/issues/1311#issuecomment-537909914.

[2019-11-07 10:24] toupeira commented on #82
This has come up on GitLab as well: https://gitlab.com/gitlab-org/gitlab/merge_requests/19617

The solution there was to use `ON DELETE CASCADE`, which is much cleaner and seems to be supported on PostgreSQL/MySQL/SQLite. So I'm planning to add a migration to this gem soon to change the foreign key.

[2019-11-07 14:55] camilo0365 opened #95 "Nonces are not stored"
[code]

It seems that when Doorkeeper introduced Strong Parameters in the `app/controllers/doorkeeper/authorizations_controller.rb` the `nonce` parameter has been filtered out and therefore `lib/doorkeeper/openid_connect/oauth/authorization/code.rb` doesn't store it.

This causes the nonce not to be present in the ID Token as the spec requires, and OIDC clients that validate nonces crash.

[2019-11-07 14:57] camilo0365 commented on #95
I am trying to upgrade Doorkeeper 5.0.2 to 5.2.1 and doorkeeper-openid_connect from 1.6.2 to 1.7.0

[2019-11-15 15:22] yourtallness commented on #93
I mean that we don't use the implicit flow that returns the `id_token`.

Our clients will be hitting the userinfo endpoint to obtain the user information.

[2019-12-02 16:30] toupeira commented on #93
@yourtallness ok thanks I was confused, I checked the specs and it's possible to send a request with `response_type=code` where no ID token is returned: https://openid.net/specs/openid-connect-core-1_0.html#Authentication

Can you post the exact error you're running into?

I'm wondering if it would be sufficient to specify `nil` as default for `signing_key` in `Doorkeeper::OpenidConnect::Config`:

[2019-12-17 11:18] yourtallness commented on #93
Turns out the client had to interface with actually required the i_ token to be included in the access_token response, so the use case in the original post is now not applicable to us.

FWIW, I set the `signing_key` to `nil` and it worked.
Thanks for the support!

[2019-12-17 11:18] #93 closed

[2020-01-15 22:20] janz93 opened #101 "Multiple keys support in the jwks_uri url"
First of all thank you :smiley: for all the work that has been put into this project.
It helped me a lot to go get my app running without me needing to understand the specs in detail. :+1: :pray:

## Background

In the process of switching the access token to a JWT token, I used the `doorkeeper-jwt` gem as described in the doorkeeper guide and followed their [instructions](https://github.com/doork

[2020-01-20 21:28] phlegx commented on #74
Here you can see the differences:

![Screenshot_2020-01-20 JWT IO](https://user-images.githubusercontent.com/111506/72758750-fb641580-3bd3-11ea-971b-375700f786af.png)

Gem `jwt` supports more verification methods ans has over 2.800 follower and gem `json-jwt` has only 237 follower.

[2020-01-30 09:22] #76 closed

[2020-02-07 12:32] #95 closed

[2020-02-07 12:55] #82 closed

[2020-02-07 13:32] toupeira commented on #101
@janz93 thanks for raising this issue!

1. Yes this should be possible in principle, as the `jwks_uri` responds with a `keys: []` array.
2. Not sure, I'm not familiar with the `doorkeeper-jwt` gem or how JWTs are used in OAuth outside of an OIDC context. It sounds like it would make sense to have `doorkeeper-jwt` as a dependency so the configuration could be shared. Note that it's currently not ne

[2020-02-07 13:34] toupeira commented on #71
The problem with the `audience` claim should now be fixed with https://github.com/doorkeeper-gem/doorkeeper-openid_connect/pull/99 released in 1.7.1, feel free to reopen if you're still experiencing issues!

[2020-02-07 13:34] #71 closed

[2020-02-07 15:48] ralph commented on #73
I don't know if it satisfies the spec, but I just created a PR to support `end_session_endpoint`. For https://github.com/IdentityModel/oidc-client-js, that's enough to work correctly. It will trigger client side hooks and then redirect to the specified url. Check it out here:

https://github.com/doorkeeper-gem/doorkeeper-openid_connect/pull/103

[2020-02-13 18:55] ohimy opened #104 "oauth/userinfo returns an error"
When I visit '/oauth/userinfo', the program returns an error:

#<AbstractController::ActionNotFound: The action 'show' could not be found for Doorkeeper::OpenidConnect::UserinfoController>

api_only: true

[2020-02-24 11:31] janz93 commented on #101
@toupeira thank you for your response. Regarding the second point. I think since both gems are doing their own JWT setup a solution can not be found here in this issue. For the first point if possible I would like to take on this enhancement and create a PR with a possible solution for it.

[2020-02-24 15:29] toupeira commented on #101
@janz93 Sure that would be awesome! The only thing you have to watch out for is to still support a non-array value in existing configurations.

Yeah I guess there would be ways to do it, but not very cleanly :wink:

[2020-03-02 22:29] giubueno commented on #89
Ping me.

[2020-05-12 11:30] toupeira opened #106 "Add grant_types_supported to discovery response"
From the spec at https://openid.net/specs/openid-connect-discovery-1_0.html:

This should be added to `app/controllers/doorkeeper/openid_connect/discovery_controller.rb`, and return the appropriate values based on the current Doorkeeper configuration.

[2020-05-17 14:41] linhdangduy opened #107 "Configuration method for prompt=select_account"
### Problem
With `prompt=login`, we have the [reauthenticate_oidc_resource_owner](https://github.com/doorkeeper-gem/doorkeeper-openid_connect/blob/v1.7.1/lib/doorkeeper/openid_connect/helpers/controller.rb#L64-L65) method to call the config [reauthenticate_resource_owner](https://github.com/doorkeeper-gem/doorkeeper-openid_connect/blob/v1.7.1/lib/doorkeeper/openid_connect/config.rb#L112-L114). So

[2020-05-19 10:07] #91 closed

[2020-05-19 10:25] nbulaj commented on #89
@toupeira I will provide a support for this gem and Doorkeeper, like fixes or some bugfixes and improvements, but not new features. Could you please check if I have permissions to push to rubygems? I have something more to merge soon, and we need to release a new version with a fixes to support latest Doorkeeper (5.4).

[2020-05-19 13:21] toupeira commented on #89
@nbulaj thanks! :+1:

And yes you should have permission:

[code]

[2020-05-19 13:30] toupeira commented on #107
@linhdangduy that's a great question, I don't remember what I had in mind when I originally wrote this :sweat_smile:

But yes I think adding configuration for this makes sense! :+1:

In the default proc we could raise `Errors::InvalidConfiguration` as the others do, and get rid of `Errors::AccountSelectionRequired`.

Do you want to submit a PR?

[2020-05-19 13:35] toupeira commented on #107
@linhdangduy oh and BTW there's potential for name clashes in `Doorkeeper::OpenidConnect::Helpers::Controller` because it's included in other controllers, so I propose we call the method there something like `select_account_for_oidc_resource_owner` and the configuration value maybe `select_account_for_resource_owner`, receiving the `owner` as only argument? Happy with other names too, just the met

[2020-05-20 02:31] linhdangduy commented on #107
@toupeira Thank for your attention. I'm happy to propose a PR!

[2020-05-21 07:44] nbulaj commented on #104
Hi @ohimy . What do you have in output for `rails routes` ? Which version of the gem do you use?

[2020-05-21 12:39] toupeira commented on #73
@ralph thanks! :raised_hands:

This is now released in 1.7.2 so I'll close this issue.

/cc @nbulaj

[2020-05-21 12:39] #73 closed

[2020-05-24 22:54] jmortlock opened #114 "userinfo endpoint broken in rails api mode"
Rails API base controller does not include the "verify_authenticity_token" method, which means the skip check in the userinfo controller raises an exception

[2020-05-25 06:45] #114 closed

[2020-05-25 10:34] Ex-Ark opened #115 "generated migration has type error : type integer mismatch type bigint"
The migration currently generated by the gem itself looks like this :
[lib/generators/doorkeeper/openid_connect/templates/migration.rb.erb](https://github.com/doorkeeper-gem/doorkeeper-openid_connect/blob/master/lib/generators/doorkeeper/openid_connect/templates/migration.rb.erb)
[code]

When running migration I have the following error :
[code]

It appears the default type for id on other tables

[2020-05-25 15:01] #106 closed

[2020-05-27 16:44] #107 closed

[2020-05-30 10:33] #115 closed

[2020-05-30 10:34] nbulaj commented on #115
Thanks @Ex-Ark , fixed in #117 :bow:

[2020-06-09 22:01] jeffsawatzky opened #120 "Use prompt=login outside of an oidc request"
The prompt=login etc is a nice feature to have even for non OIDC requests. Is there a reason why you restrict it to OIDC requests only?

[2020-07-06 15:16] toupeira commented on #120
@jeffsawatzky well mainly because this gem is hooking into Doorkeeper internals and tries its best not to interfere with non-OIDC requests :wink:

I would be fine with a PR to add a configuration option for this though, I don't think any of the `prompt` values depend on an actual OIDC request so we could have just one flag to enable all `prompt` parameter handling for non-OIDC requests.

[2020-07-31 00:41] anatoliyarkhipov commented on #94
@yourtallness Have you figured that out? I'm having precisely the same issue.

[2020-08-08 13:22] yourtallness commented on #94
@anatoliyarkhipov I'm afraid I ended up making the binaries executable and be done with it. 😞

[2020-08-09 03:52] anatoliyarkhipov commented on #94
@yourtallness This one `/Users/mark/Dev/b2bwave/bin/bundle`? 🤔

[2020-09-11 09:30] davidbasalla opened #125 "Is it possible for a claim to have multiple scopes?"
I would like to provide an `all_data` scope that acts as a summary of more focused scopes (eg `profile` and `email`), like so:

[code]

From my testing, this currently breaks scope requests for just `profile` or `email`, because the `claims` OpenStruct (from [`ClaimsBuilder`](https://github.com/doorkeeper-gem/doorkeeper-openid_connect/blob/master/lib/doorkeeper/openid_connect/claims_builder.rb#L18

[2020-09-24 13:58] rodrigocvb commented on #73
@ralph do you know if this change adds support to post_logout_redirect_uri as specified in section 3, "Redirection to RP After Logout", of this spec?

https://openid.net/specs/openid-connect-rpinitiated-1_0.html#RPLogout

I'm using oidc-client-js and trying to redirect the user back to the frontend after logout. But I'm not able to do so.

I even updated from 1.7.1 to 1.7.2, but for now I'm facing

[2020-09-24 14:48] ralph commented on #73
Hi @rodrigocvb! No, this only adds support for `end_session_endpoint`, not for `post_logout_redirect_uris`, I'm afraid.

But maybe you want to open another PR to add this? Implementation should be very similar to #103.

[2020-09-24 23:40] phlegx commented on #74
I need to wait for a PR merge and new release of the gem `jwt`. Then I have the code already prepared to move from gem `json-jwt` to `jwt`.

[2020-10-07 23:08] phlegx opened #127 "Undefined method `openid_request' using custom access grant class."
I use doorkeeper config:

[code]

Call `POST "/oauth/token"` I get:

[code]

If I remove `access_grant_class 'Oauth::AccessGrant'` config. All works fine.

Here my `Oauth::AccessGrant` class:

[code]

Maybe in this line:
https://github.com/doorkeeper-gem/doorkeeper-openid_connect/blob/7e8e58c0a44c6334fb0883437f4cdf6c7cce79b5/lib/doorkeeper/openid_connect/orm/active_record/access_grant.rb#L17

the

[2020-11-06 06:17] yoonwaiyan commented on #73
@ralph I've read #103 but I don't see any implementation being done on `end_session_endpoint` other than allowing users to define it with their own route handling, and your example provided a Devise logout URL, so Doorkeeper will not handle the logout flow as specified in the specs?

[2020-11-10 15:58] aczerepinski opened #130 "multiple "refresh_token"s in ./well-known/openid-configuration payload"
My payload contains this:

[code]

Edit to add more information: I have not yet been able to reproduce the bug locally, but on my heroku deployment, a duplicate entry is added to the array every time the page is refreshed. Restarting the dynos resets it. 🤔

[2020-11-12 14:52] syakovyn commented on #130
https://github.com/doorkeeper-gem/doorkeeper-openid_connect/commit/328854fe6db48df23433d4c039d5315c8088b227#diff-64410b5830c8849dd99eee50f8779676352aaeaaefcd91e03e52b2217ba0c964 fixes the issue. It is just not yet relased. https://github.com/doorkeeper-gem/doorkeeper-openid_connect/blob/v1.7.4/app/controllers/doorkeeper/openid_connect/discovery_controller.rb doesn't have it.

[2020-11-12 15:35] aczerepinski commented on #130
Thank you. That explains why I couldn't reproduce the problem locally - I was running the code at master with the fix already included.

[2020-11-30 12:18] telyn opened #133 "`offline_access` scope support"
The [offline_access scope](https://openid.net/specs/openid-connect-core-1_0.html#OfflineAccess) defined in the OIDC specification appears to be completely unsupported as yet.

So as to not break peoples' existing oidc flows it would probably be prudent to put this in behind a config option.

I *think* for the application I'm working on it's not security-critical to have this feature, but if I find

[2020-12-15 13:03] toupeira commented on #125
@davidbasalla sorry for the late response!

I don't think this is currently possible, maybe one solution could be to let the `scope:` argument support arrays, so you'd have `scope: [:profile, :all_data]` etc.?

At https://github.com/doorkeeper-gem/doorkeeper-openid_connect/blob/99c8a518ce87ee532a65b0c56b01976f963788b8/lib/doorkeeper/openid_connect/claims_builder.rb#L12 we could then check if any o

[2020-12-15 13:14] toupeira commented on #127
@phlegx thanks for the report! I'm not sure if we already have access to Doorkeeper's configuration when that `prepend` call happens. :thinking:

But the `has_one` association is defined at https://github.com/doorkeeper-gem/doorkeeper-openid_connect/blob/68459f942f5431b2fcae1df3254402a4b2efb3c1/lib/doorkeeper/openid_connect/orm/active_record/access_grant.rb#L8-L11, so I think you should be able to

[2020-12-15 19:04] phlegx commented on #127
So, I should put `prepend ::Doorkeeper::OpenidConnect::AccessGrant` in my `AccessGrant` model instead of the `has_one` relation workaround?

[2021-01-04 16:18] toupeira commented on #127
@phlegx yes, that should pull in the `has_one` definition and any other future changes (`prepend` acts similarly to `include`). Let me know if that works for you!

I was also curious now if we could just monkey-patch `Doorkeeper::Orm::ActiveRecord::Mixins::AccessGrant` rather than `Doorkeeper::Orm::ActiveRecord::AccessGrant`, but I couldn't find a way to inject code into the existing `included` bl

[2021-01-11 20:19] mecampbellsoup commented on #89
Out of curiosity (as we embark on a buy-vs-build decision at our company) could you elaborate on these headaches?!

[2021-01-12 18:11] toupeira commented on #89
@mecampbellsoup well, just take a look at the length and complexity of these specs :grin:

- https://tools.ietf.org/html/rfc6749
- https://openid.net/specs/openid-connect-core-1_0.html
- https://openid.net/specs/openid-connect-discovery-1_0.html

But joking aside, I originally started extending this gem so we could support OIDC in GitLab, so it's used quite widely (especially at Siemens, who origi

[2021-01-12 20:37] mecampbellsoup commented on #89
To be sure, we would use this library if we went with Ruby. However we are more likely to use Python due to ... well, other concerns not related to this conversation.

I was more curious whether you were suggesting that:
* you are a "buy" proponent in the build-vs-buy debate (e.g. Auth0, Okta); or
* you are opposed to OIDC whatsoever (on the IdP side, i.e. should my company's auth server be a full

[2021-01-13 10:20] toupeira commented on #89
@mecampbellsoup I'm not opposed to OIDC at all, it seems perfectly fine if you want to build your own SSO, and OAuth2 will probably crop up anyway if you want to integrate with other services.

Regarding hosted SSOs, I don't have much experience with them and zero knowledge about your business so I can't really give you any advice :wink: But I do know that Auth0 and Okta also offer OIDC and are ce

[2021-03-19 09:06] Nilpointer opened #140 "PreAuthorization attrs nil or false"
Hi all,

sorry I am new to this project and topic. I set up doorkeeper and dk-openidconnect.
When trying to authorize I run in to an error in the initialize method at

[code]

The attrs property is nil if I use the doorkeeper config as recommended:
[code]

The documentation says the resource_owner_authenticator should return something "falsy" if nor user logged in, but I only get this to work when

[2021-03-22 09:36] teslat commented on #140
I was have the same issue with Doorkeeper 5.5 but it resolved when I downgrade to Doorkeeper 5.4

[2021-03-23 01:55] jippylong12 commented on #94
For anyone seek answers, I used [this link](https://askubuntu.com/questions/709439/getting-permission-denied-when-running-bundler-command) to resolve the issue.

Essentially the bundle file needs to be given sudo permissions. In the case of the OP, it would be

`sudo chmod +x /Users/mark/Dev/b2bwave/bin/bundle`

Take the path that is in the Permission Denied line and add it after sudo chmod +x. On

[2021-04-07 18:12] jeffsawatzky commented on #101
@janz93 We got around this by using the same key pair for doorkeeper-jwt as we did for doorkeeper-open_id_connect. If you are including a `kid` in your jwt access token, then make sure it is generated the same way that doorkeeper-open_id_connect generates it's `kid` in the `jwks_uri`

[2021-04-07 19:18] pjmartorell opened #141 "Support Doorkeeper 5.5.0"
`doorkeeper` has some deprecation warnings when running it with ruby 2.7 and they are fixed on Doorkeeper 5.5.0 but the gemspec of `doorkeeper-openid_connect` is not allowing `doorkeeper` 5.5.0:
https://github.com/doorkeeper-gem/doorkeeper-openid_connect/blob/805b7ca9c42a011e357b2d6daac88c45e7f2172a/doorkeeper-openid_connect.gemspec#L27

Do you know if there is any change in doorkeeper 5.5.0 that

[2021-04-08 05:40] dependabot-preview[bot] opened #142 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/doorkeeper-gem/update-logs/75858491).

[2021-04-20 16:18] #92 closed

[2021-04-20 16:43] toupeira commented on #130
Thanks all, looks like this was fixed in 1.7.5 so I'll go ahead and close this issue!

[2021-04-20 16:43] #130 closed

[2021-04-20 16:45] toupeira commented on #141
Doorkeeper 5.5 should be supported now with https://github.com/doorkeeper-gem/doorkeeper-openid_connect/pull/138, so I'll go ahead and close this.

Will cut a new 1.8.0 release shortly...

[2021-04-20 16:45] #141 closed

[2021-04-20 16:50] toupeira commented on #142
I'll just go ahead and drop support for Ruby 2.4 in https://github.com/doorkeeper-gem/doorkeeper-openid_connect/pull/146 :grin:

[2021-04-20 16:50] #142 closed

[2021-04-20 19:53] toupeira commented on #140
Thanks for the report! :+1:

It looks like you're using an old version of `doorkeeper-openid_connect`, the signature for `PreAuthorization#initialize` was changed from `def initialize(server, client, attrs = {})` for 1.7.0 in https://github.com/doorkeeper-gem/doorkeeper-openid_connect/commit/3f53e0f.

If you were still experiencing this with 1.7.5, please also try 1.8.0.pre.rc1 which was just rele

[2021-04-21 03:37] linhdangduy commented on #92
@yourtallness It takes quite long time, but both doorkeeper (v5.5.0) and doorkeeper-openid_connect (v1.8.0.pre.rc1 prerelease) already support `response_mode`

[2021-05-11 08:09] #140 closed

[2021-05-24 10:41] nhosoya opened #150 "`auth_time_from_session` instead of `auth_time_from_resource_owner`"
To implement `auth_time` correctly, I propose `auth_time_from_sesion`

**Details**

The `auth_time_from_resource_owner` is designed to get the authentication time from the object of the resource_owner.
In many cases, developers are likely to implement getting the last login time of the resource owner from the Database.
This is also implied by the sample implementation of the template.
https://gith

[2021-06-02 07:21] MH4GF opened #151 "/oauth/token returns an ArgumentError in 1.8.0"
Hi!
After upgrading to 1.8.0, I noticed an ArgumentError in /oauth/token .

[code]

Probably because the number of arguments in `Doorkeeper::OAuth::PasswordAccessTokenRequest` has changed since doorkeeper 5.5.
https://github.com/toupeira/doorkeeper/blob/ce48908b4c11a5956f23f56c1aa084d80d5b2cec/lib/doorkeeper/oauth/password_access_token_request.rb#L15

it resolved when I downgrade to Doorkeeper 5.4

[2021-06-11 05:03] CircumnavigatingFlatEarther commented on #151
I tried matching the `initialize` method in doorkeeper-openid_connect and set `skip_client_authentication_for_password_grant` to `true` in the doorkeeper config and it resolved the issue.

Further testing is needed.

[2021-06-15 18:38] lucasocon opened #154 "The nonce is not returned"
How can I do to retrieve the nonce?

Right now it only returns the following keys:
[code]

I need the nonce in that response.

Thanks!

[2021-06-18 13:15] grun00 opened #157 "Missing credentials param in password_access_token_request.rb"
Hey, I noticed that the initializer method in `password_access_token_request.rb` is missing the credentials param and when I try to request a token I get the following error:

`ArgumentError (wrong number of arguments (given 5, expected 3..4)):`

Adding the param in the gem seems to fix the issue.

it is like this:
[code]

it should be like:

[code]
Is someone planning on fixing this? I could add

[2021-06-18 13:43] grun00 commented on #157
Someone already opened a PR about it (#153)

[2021-06-18 13:43] #157 closed

[2021-06-30 03:26] lucasocon commented on #154
@toupeira do you have any tips about how to solve this issue? Thanks in advance.

[2021-07-22 12:19] Antiarchitect commented on #151
Also experiencing this with doorkeeper-openid_connect 1.8.0 + doorkeeper 5.5.2

[2021-08-18 14:54] jcdennen commented on #127
Just adding a note here that I needed to specify:
[code]

_and_ include `foreign_key: 'access_grant_id'` due to my team customizing the `AccessGrant` `table_name`. Without the `foreign_key` constraint specified, I received the following MySQL error:
[code]

The schema at this point had already been using `access_grant_id` as the column name

[2021-10-12 19:51] zacheryph opened #158 "Overriding AuthorizationsController in Development Mode"
We are experiencing an issue in development mode where AuthorizationsController is losing touch with its ancestory. It seems to be due this gem overriding the class directly instead of mixing into and/or not defining a super class. making any changes in development requires reloading the entire application. You can replicate this by doing `rails new`, adding doorkeeper and this gem, doing `doorkee

[2021-10-25 23:41] magic7s opened #159 "Can `.well-known/openid-configuration` return an alternate uri for `jwks_uri`"
I'm struggling to find a way to configure an alternate uri for `jwks_uri` in `.well-known/openid-configuration`. I have read [discovery_url_options](https://github.com/doorkeeper-gem/doorkeeper-openid_connect/blob/master/README.md?plain=1#L166) and found that I can change some things but not the full uri. Any help would be appreciated.

I need `https://example.com/oauth/discovery/keys` to become `

[2021-11-12 10:11] fkowal opened #160 "fix issuer {} for `.well-known/openid-configuration` using blocks"
#144 when using a block to configure the `issuer`

`app/controllers/doorkeeper/openid_connect/discovery_controller.rb` returns `{}`

FYI

I am a total ruby noob, so the following PR will raise a lot of eyebrows

[2021-12-05 08:05] ChrisMacNaughton opened #163 "Is it possible to configure and use Authentication Context Class References?"
I was looking at passing information about the level of authentication for the user (MFA status) and wondered if there's support in Doorkeeper / OIDC to handle these claims (ACR and AMR) from [the spec](https://openid.net/specs/openid-connect-core-1_0.html)

[2022-02-11 17:19] nbulaj commented on #160
#161 merged and released, thanks!

[2022-02-11 17:19] #160 closed

[2022-05-05 21:46] dzleidig commented on #101
For those curious, the following worked for me:
[code]

[2022-05-23 15:04] maleonix commented on #73
Hello,

I've use end_session_endpoint  and post_logout_redirect_uri in my project (SSO+ RubyOnRails API) + Client React

end_session_endpoint  =>  http://doorkepper.com/auth/sign_out
post_logout_redirect_uri =>  http://client.com
ENV["HOST"] =>   http://doorkepper.com

Add in `doorkeeper_openid_connect.rb`
[code]

Add in `sessions_controller.rb`
[code]

Add in oidc-client.js client app

[code]

[2022-07-01 12:30] sato11 opened #166 "`/.well-known/openid-configuration` crashes when `Doorkeeper.config.allow_token_introspection` is false"
Dookeeper allows to disable token introspection by setting `allow_token_introspection` to `false`. With this configured, the route is not drawn and naturally `oauth_introspect_url` helper is not available.

https://github.com/doorkeeper-gem/doorkeeper/blob/v5.6.0.rc1/lib/doorkeeper/rails/routes.rb#L39

However, on the doorkeeper-openid_connect side, the above behavior is overlooked and `oauth_intr

[2022-07-01 12:34] sato11 commented on #166
I have a draft patch and it'll soon be ready, but for the formality created an issue as well.

[2022-07-06 03:55] sato11 opened #169 "Shouldn't controllers inherit `Doorkeeper::ApplicationMetalController`?"
Struggling to avoid #166 in our application I've found that patchable hook only exists in metal_controller, whereas controllers defined in this repo inherits from `Doorkeeper::ApplicationController` which is independent of `Doorkeeper::ApplicationMetalController`.

After skimming through doorkeeper's controller implementation I have a feeling that ApplicationController is for a dashboard and Metal

[2022-07-08 11:39] sato11 commented on #169
I have worked it around by hooking not controllers but initializer like this:

[code]

While this solves my incidental motivation, the focal discussion remains relevant, so I'm leaving this open. Hope this could be of help if someone came across the same stuff 🙂

[2022-07-11 10:02] sato11 opened #171 "Using `root_url` in `#webfinger_response` can violate specification"
The documentation says in [2. OpenID Provider Issuer Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html#IssuerDiscovery):

which then becomes the premise of [4. Obtaining OpenID Provider Configuration Information](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfig):

It seems it is assumed that our `href` must be exactly what our `issuer` configuration poi

[2022-07-13 07:10] #169 closed

[2022-07-13 07:13] #166 closed

[2022-07-13 08:04] nbulaj commented on #158
Hi @zacheryph . https://github.com/doorkeeper-gem/doorkeeper-openid_connect/pull/173 should fix the issue so you can try it from the branch (for now) or with a release later and report any issues found. Thanks!

[2022-07-18 12:57] nbulaj commented on #158
Released in 1.8.2

[2022-07-27 15:02] #158 closed

[2022-08-01 00:01] Exterm1nate opened #174 "`access_grant_class` is broken."
### Steps to reproduce

[code]

When starting application an error occures:

[code]

I tried to require model in the initializer and the error changed:

[code]

With other two classes (`access_token_class`, `application_class`) application starts correctly.
Seems that lib/doorkeeper/openid_connect/orm/active_record.rb:35 is not working.

### System configuration
**Rails version**: 7.0.3

**Ruby ve

[2022-08-01 06:27] nbulaj commented on #174
Thanks for reporting this!

Could be related to @nov changes here https://github.com/doorkeeper-gem/doorkeeper-openid_connect/pull/168, I'll take a look closer a little bit later

[2022-08-01 08:51] Exterm1nate commented on #174
I debuged my application and came to the conclusion that the problem is in the Sorcery gem.
Updated your sample app to demonstrate it.
https://github.com/Exterm1nate/doorkeeper-openid_connect-sample

[2022-08-01 09:22] nov commented on #174
Ah, because you have `oauth` gem, `OAuth` is already defined...

[2022-08-01 09:25] Exterm1nate commented on #174
It doesn't matter what class is provided.

The same issue for any other model, without `Oauth` namespace.
[code]

[2022-08-01 23:47] nov commented on #174
It seems because of Sorcery bug, which should be fixed in Sorcery v1.
https://github.com/Sorcery/sorcery/issues/316
https://github.com/Sorcery/sorcery/issues/312#issuecomment-1130370988

Does doorkeeper-openid_connect need some changes?

[2022-08-30 13:21] #174 closed

[2022-11-01 17:03] kristof-mattei commented on #74
JWK support was missing (until recently) from `jwt`. It now has support for that.

[2022-11-01 19:15] phlegx commented on #74
That's true! We have contributed to get JWK on `ruby-jwt` gem. In the next time I will publish a PR for `doorkeeper-openid_connect` with `ruby-jwt`.

[2022-11-02 20:59] kristof-mattei commented on #74
See #177

[2022-11-08 15:56] jits opened #178 "Possible to disable `client_secret_basic` for `token_endpoint_auth_methods_supported`?"
Hi, thanks for developing this library. It's super useful in setting up an OIDC server as part of a platform.

Is it possible to disable `client_secret_basic` as an option for `token_endpoint_auth_methods_supported`? I see that it's hardcoded in the controller: https://github.com/doorkeeper-gem/doorkeeper-openid_connect/blob/69828cb8ae788078674a2238f7d754b3a6c6b76d/app/controllers/doorkeeper/openi

[2022-11-09 19:32] rbclark opened #179 "RP-initiated logout post_logout_redirect_uri is not validatable"
I was reading through the [OpenID Connect RP-Initiated Logout Spec](https://openid.net/specs/openid-connect-rpinitiated-1_0.html) and I noticed that regarding the `post_logout_redirect_uri` it mentions:

Looking at the current `end_session_endpoint` implementation, it does not provide a way to validate the `post_logout_redirect_uri` as the spec requires.

For context, the way I'm handling the `end